<div class="title">Create a New Set</div>

<div class="err">
    <h2>{{message}}</h2>
</div>

<form method="POST" action="" class="setInfo">
    <label for="setName" id="label">Enter Name</label><br>
    <input type="text" placeholder="Set Name" style="width: 30vw; height: 5vh; font-size: 3vh;" id="setName" name="setName" value="">
    <label for="setDesc" id="label" style="margin-top: 5vh;">Description</label><br>
    <textarea placeholder="Enter Description" style="width: 30vw; height: 30vh; font-size: 3vh;" id="setDesc" name="setDesc" value=""></textarea>
    <input type="submit" style="display:flex; margin-left: 25vw; margin-top: 3vh; justify-self:end; height: 2vw; width: 10vh; font-size: 2vh;">
</form>