<!DOCTYPE html>
    <html>
    <head>
        <title>Trivia</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>

    <body>
        <div class="header">
            <!-- to do-->

            <button type="button" id="createBut"><a href="/create">Create</a></button>
            <button type="button" id="createBut" style="margin-left:-1.5vw;"><a href="/my-sets">My Sets</a></button>

            <img src="https://api.dicebear.com/9.x/notionists/svg?seed=Felix" alt="avatar" id="profile-pic"/>
            <script>
                const myImage = document.getElementById('profile-pic');
                const style = 'lorelei'; 
                const randomSeed = Math.random().toString(36).substring(2, 15);
                //API URL
                myImage.src = `https://api.dicebear.com/7.x/${style}/svg?seed=${randomSeed}`;
            </script>
        </div>
        {{{body}}}
    </body>
   </html>