<!DOCTYPE html>
    <html>
    <head>
        <title>Trivia</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>

    <body>
        <div class="header">
            <!-- to do-->

            <button type="button" id="createBut"><a href="/create">Create</a></button>
            <button type="button" id="createBut" style="margin-left:-1.5vw;"><a href="/my-sets">My Sets</a></button>

        </div>
        {{{body}}}
    </body>
   </html>