<!DOCTYPE html>
    <html>
    <head>
        <title>Trivia</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>

    <body>
        <div class="header">
            <!-- to do-->

            <button type="button" id="createBut"><a href="/create">Create</a></button>
            <button type="button" id="createBut" style="margin-left:-1.5vw;"><a href="/my-sets">My Sets</a></button>
            {{#if currentUser}}
            <form action="/logout" method="POST" style="display:inline;">
                <button type="submit" id="createBut" style="margin-left:-1.5vw;">Logout</button>
            </form>
            <img src="{{currentUser.url}}" alt="avatar" id="profile-pic" style="margin-left:-1.5vw;"/>
            <div>Logged in as {{currentUser.username}}</div>
            {{else}}
            <button type="button" id="createBut" style="margin-left:-1.5vw;"><a href="/register">Sign Up</a></button>
            <button type="button" id="createBut" style="margin-left:-1.5vw;"><a href="/login">Login</a></button>
            {{/if}}

        </div>
        {{{body}}}
    </body>
   </html>