<div class="title">Sign Up</div>
<div class="err">
    <h2>{{message}}</h2>
</div>

<form method="POST" action="" class="setInfo">
    <label for="setName" id="label">Enter Username</label><br>
    <input type="text" placeholder="Username" style="width: 30vw; height: 5vh; font-size: 3vh;" id="user" name="user" value="">
    <label for="setDesc" id="label" style="margin-top: 5vh;">Enter Password</label><br>
    <input type="text" placeholder="Password" style="width: 30vw; height: 5vh; font-size: 3vh;" id="pass" name="pass" value="">
    <input type="submit" style="display:flex; margin-left: 25vw; margin-top: 3vh; justify-self:end; height: 2vw; width: 10vh; font-size: 2vh;">
</form>